body{
    display:flex;
    flex-direction: column;
}

.header{
    background-color: #194569;
    color:#ffffff;
    height:100px;
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.content{
    display:flex;
    flex-direction: row;
}